################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab4SystemProgramming/.vs/Lab4SystemProgramming/v17/Browse.VC.db
/Lab4SystemProgramming/.vs/Lab4SystemProgramming/v17/Browse.VC.opendb
